[core]
	autocrlf = input
	safecrlf = false
	preloadindex = true
[user]
	name = brc
	email = brett@cooleyweb.org
[color]
	ui = auto
[color "status"]
	changed = yellow
[color "branch"]
	current = reverse
	remote = magenta
[alias]
	br = branch -a
	l = log --graph --pretty=format:'%C(yellow)%h%Creset %s [%ar]'
[push]
	default = matching
[help]
	autocorrect = 1
